{{!< layout}}
<div class="aui-group">
  <div class="aui-item">
    <h3>Dayscore configuration page</h3>
    <form>
      <input type="checkbox" name="config" value="anonymous"> Anonymous Dayscore?<br>
      <input type="checkbox" name="config" value="allowMultiple" checked> Allow multiple submissions per day?<br>
    </form>
  </div>
</div>
