{{!< layout}}

<section class="aui-connect-page" role="main">
  <!-- Horizontal navigation tabs -->
  <nav class="aui-navgroup aui-navgroup-horizontal">
    <div class="aui-navgroup-inner">
      <div class="aui-navgroup-primary">
        <form class="aui" class="dayscore-overhead-second">
            <div class="dayscore-filter-dropdown">
                <select id="select-dayscore-filter">
                    <option value="all">All feedback</option>
                    <option value="plus">Positive feedback</option>
                    <option value="neutral">Neutral feedback</option>
                    <option value="minus">Negative feedback</option>
                </select>
            </div>
        </form>
      </div>
    </div>
  </nav>
  <div class="dayscore-comments-container">
    <!-- list of commetns will be populated here -->
  </div>
  <hr class="dayscore-border">

</section>
